   .container{
    /* width: 50%; */
    margin: 50px auto;
  }
   .register-form{
  border: 2px solid grey;
  padding: 20px;

  }
  img{
    margin-top: 20px;
  }
  body{
    margin: 0;
    overflow: hidden;
 }
  .register-detail{
    background: #49505a;
    max-height:400px;
    max-width:400px;
    padding: 20px;
    overflow: auto;
  }
