/* .flight-search{
    overflow: hidden;
    margin:0 auto;
} */
/* .login{
    padding: 20px;
    position: relative;
    display: table-caption;
}
.login-overlay{
 position: fixed; 
    top: 0;
    bottom: 0;
    width: 315px;
    background-color: #fff;
}
div.login-layout{
    background-image: url(../imgs/easyjet-img.jpeg);
    background-size: cover;
}
.container-desktop-agent{
    height: 100%;
    display: flex;
}
div.login-layout div.login-overlay div.login-header{
    padding: 30px 20px;
    border-bottom: 1px SOLID #e4e4e4;
    text-align: center;
}
div.login-layout div.login-overlay div.login-form {
    padding: 30px 20px;
}
.custom-button.primary {
    transition: background-color 0.4s, border-color 0.25s, color 0.4s;
    font-family: Nunito;
    height: 34px;
    line-height: 18px;
    padding: 8px 20px;
    border: 1px SOLID;
    font-weight: bold;
    border-radius: 2px;
    background-color: #ff6600;
    border-color: #ff6600;
    color: #fff;
}
.custom-button.btn-primary:hover {
    background-color: #ff6600;
    border-color: #ff6600;
}
div.login-layout div.login-overlay div.login-form div.login-actions p {
    text-align: center;
}
div.login-layout div.login-overlay div.login-form div.login-actions p a {
    text-decoration: underline;
    color: #2b2c33;
}
.login-actions .custom-button.btn {
    width: 100%;
    margin-bottom: 30px;
}

div.login-layout div.login-overlay div.login-footer {
    position: fixed;
    bottom: 0;
    height: 55px;
    width: 315px;
}

div.login-layout div.login-overlay div.login-footer div.logo {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 105px;
    height: 24px;
    background-image: url(../imgs/easyJet-logo.png);
    background-repeat: no-repeat;
}
#scrollable-dropdown-menu .tt-dropdown-menu {
    max-height: 150px;
    overflow-y: auto;
  } */

.well{
    margin-bottom: 0;
    border-radius: 0;
    padding: 0;

  }
  
.well-footer{
    width: 100%;
    height: 50px;
    background-color: #e4e4e4;
    border-bottom: 3px solid #7f0000;
    border-bottom: 3px solid rgba(43, 44, 51, 0.25);
    background-clip: padding-box;
}
.well-footer .custom-checkbox {
    width: 110px;
    margin-top: 11px;
    margin-left: 8px;
}
.well-footer .plusDays {
    float: left;
    width: 140px;
    padding-left: 10px;
    margin-top: 7px;
    position: relative;
}
.well-footer .selectLessGreater {
    width: 120px;
    height: 34px;
    display: inline-block;
    margin-top: 8px;
}
.well-footer .search-form-button-container {
    float: right;
}
.fixed-table-holder{
    position: relative;
    padding-bottom: 36px;
    margin-bottom: 24px;
}
.btn-group.bootstrap-select{
    float: right;

}
.fixed-table-holder.content.mCustomScrollbar{
    overflow: auto;
    background:pink;
}
.main-panel__search-results--header {
    margin: 0 auto;
    display: -ms-flexbox;
    display: flex;
    background-color: #2b2c33;
    height: 50px;
    color:white;
    width: 100%;
    
}
thead _headers thead tr{
    display: block;
    position: relative;
    z-index: 10;
}
thead{
    background-color: #363840;
    color: #FDFDFD;
    border: 1px solid #2b2c33;
}
/* .well-footer .submit-flight-search span{
    float: right;
} */
.search-form-button {
    background-color: #ff6600;
    width: 120px;
    height: 52px;
    text-align: center;
    color: #fff;
    font-family: Nunito;
    font-size: 13px;
    font-weight: bold;
    position: relative;
    bottom: 2px;
}
.plusDays input {
    width: 50px;
    height: 34px;
    text-align: center;
    border: 1px solid #e4e4e4;
    border-radius: 1px;
    background-color: #fff;
    transition: border 0.15s ease-in-out, color 0.1
}
.bootstrap-select.btn-group{
    float: none;
    display: inline-block;
    margin-left: 0;
}
.custom-dropdown .bootstrap-select {
    width: 100% !important;
}
.search-bar-search-component .selectLessGreater {
    float:left;
    width: 120px;
    height: 34px;
    /* display: inline-block; */
    margin-top: 8px;
}
.valueLessGreater input {
    width: 70px;
    height: 34px;
    text-align: left;
    padding-left: 17px;
    border: 1px solid #e4e4e4;
    border-radius: 1px;
    background-color: #fff;
}
.valueLessGreater .valueLessGreater-currency {
    margin-left: 10px;
    position: absolute;
    line-height: 35px;
}
.valueLessGreater {
    display: -ms-inline-flexbox;
    display: inline-flex;
    float: left;
    width: 90px;
    height: 32px;
    margin: 0;
    margin-top: 8px;
    margin-left: 20px;
    position: relative;
}
span.bs-caret {
    position: relative;
    right: 9px;
}
button.btn.dropdown-toggle.bs-placeholder.btn-default {
    position: relative;
    bottom: 26px;
}

.custom-dropdown button span.filter-option, .custom-dropdown .btn span.filter-option {
    text-overflow: ellipsis;
}
.bootstrap-select.btn-group .dropdown-toggle .filter-option {
    display: inline-block;
    overflow: hidden;
    width: 100%;
    text-align: left;
}
.reset-margin-right {
    margin-right: 0 !important;
}
select.selectpicker {
    float: right;
    position: relative;
    left: 84%;
    margin-top: 13px;
}
reg section span {
    border: 1px solid #fff; 
    border-radius: 100%; 
    cursor: pointer; 
    left: -2px;
    padding: 7px;
    position: absolute;
    top: 5px;
    z-index: 0;
}
.reset-margin-right {
    margin-right: 0 !important;
    margin-top: 60px;
}

.main-panel__search-results__column-12 .main-panel__search-results--header .column.three, .main-panel__search-results__column-11 .main-panel__search-results--header .column.three, .main-panel__search-results__column-10 .main-panel__search-results--header .column.three, .main-panel__search-results__column-9 .main-panel__search-results--header .column.three {
    -ms-flex-positive: 1;
    flex-grow: 1;
    -ms-flex-preferred-size: 100px;
    flex-basis: 100px;
    color: #999999;
    font-weight: bold;
     margin-left: 0px; 
     padding-left: 10px; 
     padding-right: 10px;
     font-weight: normal;
    /* border-right: 2px solid #363840; */
    /* position: relative;
    left: 157px;
    border-right: 2px solid red; */
}
.main-panel__search-results__column-12 .main-panel__search-results--header .column.three > div, .main-panel__search-results__column-11 .main-panel__search-results--header .column.three > div, .main-panel__search-results__column-10 .main-panel__search-results--header .column.three > div, .main-panel__search-results__column-9 .main-panel__search-results--header .column.three > div {
    display: inline-block;
    /* float: right; */
}
.btn-group.bootstrap-select.journey button{
    left: 177px;
    margin-top: 8px;
    background: transparent;
    color: white;
    border: none;
    border-left: 2px solid #363840;
}
.column.three .flight-info-cell, .fa.fa-info-circle{
    padding: 8px;
}
.column.three div{
    position: relative;
    left: 116%;
    padding-top: 13px;
}
.reg section {
    float: left;
    margin-bottom: 10px;
    position: relative;
    width: 50%;
    left: 10px;
    top: 13px;
}
.reg section abbr {
    padding-left: 5px;
}
.reg section abbr input[type="radio"]{
    word-wrap: break-word;
}
.container-main-panel--title-bar {
    width: 100%;
    left: 0;
    top: 0;
    transition: padding 0.5s;
    padding-left: 50px;
    z-index: 1002;
    transform: translate3d(0, 0, 0);
    background-color: #2b2c33;
    color: #fff;
    height: 50px;
    line-height: 30px;
}
.container-main-panel-layout--content .container-main-panel--title-bar .container-main-panel--title-bar-content {
    position: relative;
    max-width: 965px;
    min-width: 965px;
    padding: 0 20px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.container-main-panel--title-bar h1 {
    float: left !important;
    font-size: 20px;
    line-height: 50px;
    
}
.reset-margin-top {
        margin-top: 0;
    }
.search-bar-header, .customer-search-header-bar {
    position: relative;
    float: right !important;
    background-color: #2b2c33;
    height: 50px;
}
.search-bar-header .column, .customer-search-header-bar .column{
float: right !important;
    position: relative;
    line-height: 34px;
    margin: 8px 0;
}
.search-bar-header .column, .customer-search-header-bar .column {
    float: right !important;
    position: relative;
    line-height: 34px;
    margin: 8px 0;
}
.search-bar-header .column.dropdown-user-type, .customer-search-header-bar .column.dropdown-user-type {
    border-right: 1px solid #363840;
    padding-right: 10px;
}
.custom-dropdown.type-three button {
    background-color: transparent;
    color: white;
}
.column.basket-header .fas.fa-shopping-basket{
    padding: 10px;
}
.content {
    overflow: auto;
    padding: 10px;
    background: aliceblue;
    border-left: 1px solid grey;
    border-right: 1px solid grey;

  }

form.search{
    height: 223px;
    padding-bottom: 0px;
    margin-bottom: -8px;
}


.flight-calendar-tabs {
    display: inline;
    /* margin-bottom:5%; */
    padding: 0;
}

.col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, .col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12 {
    position: relative;
    min-height: 1px;
    padding-left: 15px;
    padding-right: 15px;
}
.col-md-12 {
    float: left;
}
.flight-calendar .active {
    background-color: #2b2c33;
    color: #fff;
}
.flight-calendar .return-tab {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}
.flight-calendar .return-tab{
    height: 34px;
    border-radius: 3px;
    background-color: #f4f8fb;
    border: solid 2px #2b2c33;
    text-align: center;
}
.flight-calendar .return-tab{
height: 34px;
border-radius: 3px;
background-color: #f4f8fb;
border: solid 2px #2b2c33;
text-align: center;
}
.flight-calendar .one-way-tab {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}
.flight-calendar label {
    margin-top: 6px;
}
.flight-calendar-tabs .one-way-tab, .flight-calendar-tabs .return-tab {
    height: 34px;
    border-radius: 3px;
    /* background-color: #f4f8fb; */
    border: solid 2px #2b2c33;
    text-align: center;
}
.ui-datepicker table {
    /* width: 100%; */
    font-size: .9em;
    border-collapse: collapse;
    margin: 0 0 .4em;
}
.modals-component__calendar--modal--modal-dialog--modal-content .ui-datepicker .ui-datepicker-header {
    padding: 0.5em 0;
}
.modals-component__calendar--modal--modal-dialog--modal-content .ui-widget-header {
    background-color: #fff;
    border: none;
}
.ui-datepicker .ui-datepicker-header {
    position: relative;
    padding: .2em 0;
}

.form-group .Zebra_DatePicker {
     background: transparent;
     border: none;
     box-shadow: none;
     position: relative;
 }
 .col-md-6{
     padding: 15px 15px;
 }
 .flight-calendar-tabs label{
     padding-top: 5px;
 }
.search-bar-search-component .selectLessGreater {
    /* float:left; */
    width: 120px;
    height: 34px;
    display: inline-block;
    margin-top: 8px;
}
.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}
.custom-dropdown .bootstrap-select {
    width: 100% !important;
}
#departureTo .twitter-typeahead{
    display: block !important;
    position: relative;
    z-index: 1px;
}
#departureFrom .twitter-typeahead{
    display: block !important;
    position: relative;

}
.modal-body .searchFlights{
width: 90%;
height: 500px;
color: #2b2c33;
overflow: auto;
}
.searchFlights li a{
cursor: pointer;
}
.modal-body .searchFlights li{
    padding: 10px;
    /* margin: 5px; */
    background: floralwhite;
    border-bottom: 1px solid #fff;
    border-left: 3px solid #e4e4e4;
}
.modal-body .searchFlights ul{
    list-style: none;
}
#myCountry .modal-header {
    border: 0;
}
#myCountry .modal-content .modal-footer {
    border: 0;
}
.input-group .form-control:first-child{
    background: white;
}
.twitter-typeahead .tt-menu {
    background:aliceblue;
    width: 50%;
    border: 1px solid grey;
    top: 40px !important;
    padding: 10px;

}
.reg section.out abbr  { 
    position: relative;
    bottom:18px;
    left: 13px;
    padding-left:5px;
}
section.out {
    padding-right: 48px;
}
.column.three div {
    position: relative;
    padding-top: 13px;
    left: 410px;
    float: left;
}
.main-panel__search-results__column-12  .column.dropdown-user-type .custom-dropdown.type-three button span{
    text-overflow: ellipsis;
    padding-top: 5px;
}
.container table section{
    width: 50px;
    height: 100px;
}
.return-tab.active {
    background: black;
    color: white;
}