.ui-datepicker-multi .ui-datepicker-group table {
    width: 95%;
    margin: 0 auto .4em;
}
.modals-component .modals-component__calendar--modal .modals-component__calendar--modal--modal-dialog {
    width: 590px;
}.modal.in .modal-dialog {
    transform: translate(0, 0);
}.modal.fade .modal-dialog {
    transform: translate(0, -25%);
    transition: transform 0.3s ease-out;
}
.modal-dialog {
    position: relative;
    width: auto;
    margin: 10px;
}
.modals-component .modals-component__calendar--modal .modals-component__calendar--modal--modal-dialog .modals-component__calendar--modal--modal-dialog--modal-content {
    border-radius: 2px;
    background-color: #fff;
    border: solid 3px #2b2c33;
}.modals-component__calendar--modal--modal-dialog--modal-content {
    width: 590px !important;
    height: 457px;
    border-radius: 2px;
    background-color: #fff;
    border: solid 3px #2b2c33;
}
.modal-content {
    position: relative;
    background-color: #fff;
    border: 1px solid #999;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 6px;
    box-shadow: 0 3px 9px rgba(0, 0, 0, 0.5);
    background-clip: padding-box;
    outline: 0;
}
.modals-component .modals-component__calendar--modal .modals-component__calendar--modal--modal-dialog .modals-component__calendar--modal--modal-dialog--modal-content .ezj-modal-header {
    border: 0;
}
.modal-header {
    padding: 15px;
    border-bottom: 1px solid #e5e5e5;
}
.modals-component .modals-component__calendar--modal .modals-component__calendar--modal--modal-dialog .modals-component__calendar--modal--modal-dialog--modal-content .ezj-modal-body {
    padding: 10px 20px 20px;
    font-family: Nunito;
    font-size: 13px;
    font-weight: bold;
}
.modal-body {
    position: relative;
    padding: 15px;
}
.modals-component__calendar--modal--modal-dialog--modal-content .pick-date-header {
    font-family: Nunito;
    font-weight: bold;
    display: block;
    margin-bottom: 10px;
}
.modals-component__calendar--modal--modal-dialog--modal-content .flight-calendar-tabs {
    display: inline;
    /* margin-bottom: 5%; */
    padding: 0;
}
.col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, .col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12 {
    position: relative;
    /* min-height: 1px; */
    /* padding-left: 15px; */
    /* padding-right: 15px; */
}
.modals-component__calendar--modal--modal-dialog--modal-content .flight-calendar-tabs .active {
    background-color: #2b2c33;
    color: #fff;
}
.modals-component__calendar--modal--modal-dialog--modal-content .flight-calendar-tabs .return-tab {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}
.modals-component__calendar--modal--modal-dialog--modal-content .flight-calendar-tabs .one-way-tab, .modals-component__calendar--modal--modal-dialog--modal-content .flight-calendar-tabs .return-tab {
    height: 34px;
    border-radius: 3px; 
    background-color: #f4f8fb;
    border: solid 2px #2b2c33;
    text-align: center;
}
.modals-component__calendar--modal--modal-dialog--modal-content .flight-calendar-tabs .one-way-tab {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}

.modal-body #datetimepickerTo .Zebra_DatePicker{
    background: transparent;
    color: #222;
    font: 13px Tahoma,Arial,Helvetica,sans-serif;
    padding: 5px;
    position: absolute;
 }
 div#datetimepickerTo{
     position: relative;
 }
 .form-group #datetimepickerTo
 .Zebra_DatePicker {
     background: pink;
 }