
  *{
      margin: 0;
      padding: 0;
    }
    .info{
        display: block;
        position: relative;
        font-family: Arial, Helvetica, sans-serif;
        width: 200px;
        padding: 20px 0;
        margin: 200px auto;
        color: #000;
        font-size: 14px;
        text-decoration: none;
        text-align: center;
        text-transform: uppercase;
        border: 1px solid #000;
        border-radius: 10px;
    }
    .tooltip{
        display: block;
        position: absolute;
        left: 0;
        bottom: 120%;
        width: 190px;
        padding: 5px;
        border-radius: 10px;
        background: #09f;
        color: #fff;
        text-transform: none;
        font-size: 12px;
        opacity: 0;
        transform: scaleY(0);
        transition: all 0.2s ease;
    }
    .tooltip:after{
        position: absolute;
        content: '';
        left: 10px;
        bottom: -5px;
        width: 0;
        height: 0;
        border-top: 5px solid #09f;
        border-right: 5px solid transparent;
        border-left: 5px solid transparent;

    }
    .info:hover .tooltip{
        opacity: 1;
        transform: scaleY(1);
    }

    label {
        display: inline-block;
        width: 5em;
      }

    .ui-helper-hidden-accessible{
        visibility: hidden;
        /* border: 1px solid red;
        width: 50%;
        height: 50%;
        padding: 20px; */
    }